<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Welcome to Smart Contact Manager</h1>
			<p>Hey!! Join us and and save your contact in much smarter way.
				You will get very efficient way of handling contacts online</p>
			<button class="btn bg-primary btn-lg text-white"> Let's Start </button>
		</div>

	</section>
</body>

</html>